#!/bin/sh
exec 2>&1

exec chpst -u nobody \
  <%= node['elasticsearch_exporter']['binary'] %> \
  --es.uri=<%= @options[:uri] %> \
  --web.listen-address=<%= @options[:listen_address] %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "elasticsearch_exporter") %>
