#!/bin/sh
exec 2>&1

exec chpst -u nobody:<%= node['haproxy_exporter']['haproxy_group'] %> \
  <%= node['haproxy_exporter']['binary'] %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "haproxy_exporter") %>
