#!/bin/sh
exec 2>&1

exec chpst -u <%= node['prometheus']['user'] %> \
  /usr/bin/envdir /etc/imap-mailbox-exporter/env \
  <%= "#{node["imap_mailbox_exporter"]["dir"]}/imap-mailbox-exporter" %> \
  <%= Gitlab::Prometheus.flags_for(node, "imap_mailbox_exporter") %>
