#!/bin/sh
exec 2>&1

export DATA_SOURCE_NAME="postgresql://<%= @options[:username] %>:<%= @options[:password] %>@127.0.0.1:5432/<%= node["postgres_exporter"]["database"] %>?sslmode=disable"
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= "#{node["postgres_exporter"]["dir"]}/postgres_exporter" %> \
  <%= Gitlab::Prometheus.kingpin_flags_for(node, "postgres_exporter") %>
