#!/bin/sh
exec 2>&1

<% @options[:env].each do |key, value| %>
export <%= key %>=<%= value %>
<% end %>
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= "#{node["redis_exporter"]["dir"]}/redis_exporter" %>
